<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hello-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D5FDD7C1E8DBECA000E5D94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D5FDD901E8DBECB000E5D94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D5FDD9B1E8DBECB000E5D94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
